@font-face {
    font-family: kylesans2025;
    src: url("Kyle_sans_2025-Regular.otf");
}

@keyframes pulse {
    0% { transform: scale(1)}
    100% { transform: scale(1.1)}
}

* {
    margin: 0;
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari, Chrome, Opera */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Standard property */

    scrollbar-width: thin;
}

body {
    background-color: rgb(0, 0, 0);
    position: relative;
    background-image: url("assets/capycard-background (20260304121944).webp");
    background-size: 200px 200px;
}

html, body {
    height: 100%;
}

/* image background trick taken from Reverse 1999 website! https://re1999.bluepoch.com/ */

.page-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    z-index: -50;
    opacity: 1;
    transition: opacity 0.25s ease-in;
    
    height: 100vh;
    object-fit: fill;
    @media(min-width: 600px) {
        height: 100vh;
        object-fit: contain;
    }
}


.invisible {
    opacity: 0;
}

#orange_stack {
    overflow: hidden;
}

#orange_stack, #final_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 32px; */
}

.orange {
    /* width: 300px;
    height: 250px; */
    /* width: 54vw; */
    height: 30vh;
    object-fit: fill;
    min-width: 220px;
    max-width: 300px;
    
    filter: drop-shadow(0 8px 3px black);
    /* stack that thang */
    /* edit: in js instead! along with sin code */
    /* transform: scale(1.5); */

    /* for centering p tag */
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange > p {
    color: #b8dffc;
    font-family: kylesans2025;
    font-size: 15rem;
    filter: drop-shadow(5px 7px 2px #000103);
    
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

#final_capy {
    filter: drop-shadow(0px 0px 24px #fd9003);
    max-width: 250px;
    z-index: -1;

    @media(min-width: 600px) {
        max-width: 300px;
    }
}

.sappy_letter {
    /* max-width: 500px; */
    height: 60vh;
    background-color: #f9ebd2;
    padding: 34px 55px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
    object-fit: contain;
    z-index: 999;
}

#backBtn {
    display: none;
    height: 60px;
    width: 90px;
    z-index: 9999;
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    background: none;
    border: none;
    font-family: kylesans2025;
    font-size: 6rem;
    cursor: pointer;
}

#info {
    position: absolute;
    background-color: #a8d3f3;
    width: 100%;
    padding: 12px;
}

#info > p, #info > a {
    color: #535353;
}

#onsen_final {
    width: 100%;
}