@font-face {
    font-family: kylesans2025;
    src: url("Kyle_sans_2025-Regular.otf");
}

@keyframes pulse {
    0% { transform: scale(1)}
    100% { transform: scale(1.1)}
}

* {
    margin: 0;
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari, Chrome, Opera */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Standard property */
}

body {
    background-color: skyblue;
}

#orange_stack, #capy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 32px; */
}

.orange {
    /* width: 300px;
    height: 250px; */
    width: 54vw;
    height: 30vh;
    object-fit: fill;
    min-width: 220px;
    max-width: 300px;

    /* for centering p tag */
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange > p {
    color: white;
    font-family: kylesans2025;
    font-size: 15rem;
    filter: drop-shadow(5px 7px 4px #000103);
    
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

#capy > img {
    max-width: 250px;

    @media(min-width: 600px) {
        max-width: 300px;
    }
}

#info {
    position: absolute;
    background-color: cadetblue;
    width: 100%;
}

#info > p, #info > a {
    color: white;
}